---
pagination:
  data: config.languages
  size: 1
  alias: lang
permalink: "/{{ lang.code }}/index.html"
---
{% extends "layouts/base.njk" %}

{% set dir = lang.dir %}
{% set langCode = lang.code %}
{% set lang = langCode %}
{% set sections = home.byLang[lang] %}

{% block title %}{{ site.name }}{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block content %}
{% for block in sections %}
  {% if block.type === "hero" %}
    {% set b = block %}
    {% include "partials/blocks/hero.njk" %}
  {% elif block.type === "featured-articles" %}
    {% set b = block %}
    {% include "partials/blocks/featured-articles.njk" %}
  {% elif block.type === "latest-articles" %}
    {% set b = block %}
    {% include "partials/blocks/latest-articles.njk" %}
  {% elif block.type === "cta-band" %}
    {% set b = block %}
    {% include "partials/blocks/cta-band.njk" %}
  {% elif block.type === "rich-text" %}
    {% set b = block %}
    {% include "partials/blocks/rich-text.njk" %}
  {% elif block.type === "image-text" %}
    {% set b = block %}
    {% include "partials/blocks/image-text.njk" %}
  {% elif block.type === "testimonials" %}
    {% set b = block %}
    {% include "partials/blocks/testimonials.njk" %}
  {% elif block.type === "newsletter" %}
    {% set b = block %}
    {% include "partials/blocks/newsletter.njk" %}
  {% elif block.type === "container" %}
    {% set b = block %}
    {% include "partials/blocks/container.njk" %}
  {% elif block.type === "text" %}
    {% set b = block %}
    {% include "partials/blocks/text.njk" %}
  {% elif block.type === "image" %}
    {% set b = block %}
    {% include "partials/blocks/image.njk" %}
  {% elif block.type === "button" %}
    {% set b = block %}
    {% include "partials/blocks/button.njk" %}
  {% elif block.type === "article-grid" %}
    {% set b = block %}
    {% include "partials/blocks/article-grid.njk" %}
  {% elif block.type === "article-card" %}
    {% set b = block %}
    {% include "partials/blocks/article-card.njk" %}
  {% endif %}
{% endfor %}
{% endblock %}

