---
permalink: /index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/{{ config.languages[0].code }}/" />
    <link rel="canonical" href="/{{ config.languages[0].code }}/" />
    <title>Redirecting…</title>
  </head>
  <body>
    <script>window.location.replace("/{{ config.languages[0].code }}/");</script>
  </body>
</html>
